<div class="container" >
  <div class="message"  id="message" *ngIf="getMessages" #message>
    <div *ngFor="let msg of messages" >
      <div [ngClass]="msg.id_usuario == id_user?'containerMessagesMe':'containerMessagesFriend'">
        <div class="messageTextFriend" *ngIf="msg.id_usuario != id_user">
          <p class="nameUser"> {{msg.nombre_usuario}}</p>
          <div class="messageContainer">
            <p>{{ msg.mensaje }}</p>
          <i class="dateComment">{{msg.hora_creacion}}</i>
          </div>
         
      </div>
      <div *ngIf="msg.id_usuario == id_user" class="messageTextMe">
        <p class="nameUser"> {{msg.nombre_usuario}}</p>
        <div class="messageContainer">
          <p>{{ msg.mensaje }}
          </p>
          <i class="dateComment">{{msg.hora_creacion}}</i>
        </div>
    </div>
      </div>
    
    </div>
    <div class="cargando" *ngIf="!getMessages">
      
      <div class="itemCargando">
      </div>
      
    </div>
  </div>
  <div class="end">
    <form [formGroup]="form" (ngSubmit)="sendMessage()">
      <input type="text" formControlName="message" class="input-send" placeholder="Escriba su mensaje">
    </form>
  </div>
  </div>