// .example-container{
//     height: 100%;
//     position: absolute;
//     width: 100%;

// }
// .example-sidenav{
//     width: 280px;
//     height: 100vh;
//     display: flex;
//     flex-direction: column;
//     gap: 10px;
//     border-top-right-radius: 10px;
//     border-bottom-right-radius: 10px;
// }

// .listRoutes{
//     display: flex;
//     flex-direction: column;
//     height:60% ;
// }
// .list{
//     height: 60%;
// }
// .closeSidenav{
//     height: 10%;
//     border-bottom: solid .5px rgb(194, 194, 194,.5);
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     color: var(--blue);
//     background-color: var(--blue);
//     color: white;

// }
// .closeSidenav h1{
//     font-size: 20px;
    
// }
// .closeSidenav p{
//     text-align: right;
// }
.router{
    width: 100%;
    height: 100%;
}
// .routeRedirect,.logout{
//     height: 60px;
//     font-size: 20px;
//     cursor: pointer;
//     padding: 0 50px;
//     display: flex;
//     align-items: center;
//     color: var(--blue);
//     transition: all .2s;
//     justify-content: space-between;
//     border-bottom: solid .5px rgb(194, 194, 194,.5) ;
    
// }
// .routeRedirect:hover{
//     background-color: rgb(128, 128, 128,0.4);
// }
// .logout:hover{
//     background-color: var(--blue);
//     color: white;
    
// }
.container{
    width: 100%;
    height: 100vh;

}
.drawer-content{
    width: 50px;
    display: flex;
    flex-direction: column;
    overflow:hidden;
    gap: 5px;

    background-color: var(--violet);
    color: rgb(232, 232, 232);
    padding: 10px 0;
}
.routes{
    height: 90%;
}
.logout{
    height: 8%;
    display: flex;
    align-items: flex-end;
}
.drawer-content .icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in-out;
    width: 100%;
    height: 40px;
}
.drawer-content .icon-container:hover{
    background-color: rgb(157, 157, 157);
    transform: scale(1.02);
}
// .all-cont{
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     background: url("../../../assets/fondo.png");
//     background-size: 100%;
// }