<!-- <button class="btn" (click)="openNewChat()">Agregar chat</button> -->
<div class="container">
  <div class="container-chats">
    <div *ngFor="let chats of data">
        <div class="chat-cont" appearance="outlined" (click)="openChat(chats)">
            <mat-card-content class="chat">
              <div mat-card-avatar class="group-image"></div>
              <div class="cont">
                <div class="title-cont">{{chats.nombre}}</div>
                <div>{{chats.last_message ?chats.last_message.message: 'Inicia la conversación'}}</div>
              </div>
            </mat-card-content>
          </div>
    </div>
</div>
<div class="container-chat">
  <app-chat [id_chat]=id_chat_selected></app-chat>
</div>
</div>